@import "./components/nav.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Start */

.start {
    width: 100%;
    background-color: #3e693e;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.start_left {
    display: flex;
    align-items: center;
    gap: 30px;
    min-height: 35px;
    justify-content: space-around;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: "Dela Gothic One", sans-serif;
}


.start_right {
    display: flex;
    align-items: center;
    min-height: 35px;
}

.start_right>a {
    color: white;
    padding-left: 20px;
}

/* Start End */



/* Navbar */

nav {
    display: flex;
    width: 100%;
    height: 100px;
    color: #1f1f1f;
    justify-content: space-around;
    z-index: 10;
    border-bottom: 2px solid #3e693e;
    align-items: center;

}

.fa-bag-shopping {
    color: #3e693e;
}

.nav_center {
    display: flex;
}

.nav_center_a {
    position: relative;
    color: #1f1f1f;
    font-size: 17px;
    padding: 12px 30px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 800;
    letter-spacing: .01em;
}

.nav_right_a1 {
    color: #1f1f1f;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: .01em;
}

.nav_right_a {
    margin-right: 40px;
    font-size: 25px;
}

.fa-bag-shopping {
    font-size: 25px;
}

.nav_center_img {
    width: 150px;
    height: auto;
}


.nav_left_a {
    color: #3e693e;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 13px;
    font-weight: 800;
    padding: 12px 30px;
    letter-spacing: .01em;
    border: 2px solid #3e693e;
    border-radius: 13px;
    transition: 0.6s;
}

.nav_left_a:hover {
    border: 2px solid #3e693e;
    background-color: #3e693e;
    color: white;
}


.pages_list {
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: normal;
    overflow: hidden;
}

.pages_list--open {
    width: 180px;
    min-height: 90px;
    padding: 20px 30px;
    border: 1px solid #3e693e;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}

.pages_list a {
    color: #1a1a1a;
    padding-bottom: 10px;
}

.nav-fixed {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom: 1px solid #3e693e;
}

.div {
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

.div img {
    width: 100%;
    transform: scale(1.2);
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

.div h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 900;
    letter-spacing: .01em;
    color: #f8f7f2;
    font-size: 65px;
    line-height: 1.15385em;
    position: relative;
    z-index: 2;
    text-align: center;
    height: 100px;

}


.div_first {
    display: block;
}

.div_first_open {
    display: none;
}

.div_second {
    display: block;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}


/* Navbar End */

/* elave */
.section0_right {
    margin-left: 50px;
}

.section0_right input {
    width: 99%;
    height: 56px;
    border: 2px solid #3e693e;
    border-radius: 7px;
    padding-left: 20px;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 16px;
    color: black;
    position: relative;

}

.fa-magnifying-glass {
    position: absolute;
    color: #3e693e;
    font-size: 25px;
}

.section0_right_a {
    color: #1f1f1f;
    display: block;
    font-size: 18px;
    font-weight: 500;
    font-family: "Dela Gothic One", sans-serif;
    margin-bottom: 5%;
    line-height: 1.5rem;
    line-height: 1.3em;
    color: #1a1a1acc;

}

.section0_right h2 {
    font-family: "Dela Gothic One", sans-serif;
    font-family: 22px;
    font-weight: 800;
    margin-top: 20%;
}


/* Section1 */

.section1_big {
    padding: 10px;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    margin-top: 50px;
}

.section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin-top: 100px;
    padding-left: 100px;
}

.section1_right {
    width: 15%;
}

.section1_right img {
    width: 50%;
}

.section3_item {
    display: flex;

}

.section1_right img {
    margin-left: 50px;
    padding-bottom: 20px;
    width: 200px;
    margin-top: 100px;
    text-align: center;
}

.section3_bottom * {
    pointer-events: none;
    
}

.section3 h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 900;
    letter-spacing: .01em;
    color: #1a1a1a;
    font-size: 50px;
    line-height: 1.59091em;
    padding-bottom: 4%;
}

.section3_bottom {
    min-height: 550px;
    text-align: center;
    border: 1px solid #3e693e;
    padding-bottom: 30px;

}

.section3_bottom:hover img {
    filter: drop-shadow(5px 5px 10px #3e693e);
    transform: scale(1.1);
}

.section3_bottom h3 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 800;
    letter-spacing: .01em;
    color: #1a1a1a;
    font-size: 26px;
    line-height: 1.59091em;
    padding-top: 10px;
    text-align: center;
}

.section3_bottom p {
    line-height: 1.5rem;
    padding-top: 10px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #1a1a1acc;

}

.section3_bottom_a {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 800;
    letter-spacing: .01em;
    color: #1a1a1a;
    font-size: 32px;
    line-height: 1.59091em;
    text-align: center;
    cursor: pointer;
}

.section3_bottom img {
    transition: .3s ease all;
    width: 80%;
}

/* Footer */

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 500px;
    padding-top: 5%;
    border-top: 1px solid #3e693e;
}

.footer_item h5 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 900;
    letter-spacing: .01em;
    color: #1a1a1a;
    font-size: 26px;
    line-height: 1.59091em;
    padding-bottom: 8%;
}

.footer_item p {
    margin-bottom: 8%;
    line-height: 1.5rem;
    padding-top: 15px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #1a1a1acc;
}

.footer_item_img {
    width: 60%;
    border-radius: 10px;
}

.iconContainer>i {
    color: #3e693e;
    font-size: 33px;
    margin-left: 5%;
} 

.footerContainer {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
 
  .footer_item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
} 

 .iconContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
} 
  


/*FOOTER*/

/* ! START*/
@media screen and (max-width: 700px) {
    .start {
        padding: 0 10px;
    }
}

@media screen and (max-width: 590px) {

    .start_left {
        gap: 10px;
    }
}

@media screen and (max-width: 544px) {
    .start {
        display: none;
    }

}

/* ! START*/

/* ! NAVBAR*/

@media screen and (max-width: 1148px) {


    .nav_left {
        display: none;
    }

    .section1_right {
        display: none;
    }

    .section1 {
        display: flex;
        flex-direction: column;
        min-height: auto;
        text-align: center;
        align-items: center;
        margin-left: 90px;
    }

    .section3_bottom {
        min-height: 700px;
        text-align: center;
        align-items: center;

    }

}

@media screen and (max-width: 999px) {

    nav {
        justify-content: flex-end;
    }

    /* .nav_center {
        top: 0;
        position: absolute;
        transform: translateX(100%);
        width: 100vw;
        min-height: 100vh;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        background-color: green;

    }

    .hMenu {
        display: flex;
    } */
}

/* ! NAVBAR*/

/* FOOTER*/

@media screen and (max-width: 910px) {
    .footer {

        flex-direction: column;
        min-height: auto;
    }

    .footerContainer {
        width: 100%;
    }
}

@media screen and (max-width: 496px) {

    .footerContainer {
        flex-direction: column;
    }

    .footer_item {
        width: 100%;
    }
}

/* FOOTER*/