* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Start */

.start {
    width: 100%;
    min-height: 35px;
    background-color: #3e693e;
    display: flex;
}

.start_left {
    display: flex;
    width: 30%;
    justify-content: space-around;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: "Dela Gothic One", sans-serif;
    padding-top: 10px;
}

.start_right {
    width: 70%;
    padding-left: 850px;
    padding-top: 10px;
}

.start_right>a {
    color: white;
    padding-left: 20px;
}

/* Start End */

/* Navbar */
nav {
    display: flex;
    width: 100%;
    height: 100px;
    color: #1f1f1f;
    justify-content: space-around;
    z-index: 10;
    border-bottom: 2px solid #3e693e;
    align-items: center;

}

.fa-bag-shopping{
    color:#3e693e;
}
.nav_center {
    display: flex;
}

.nav_center_a {
    position: relative;
    color: #1f1f1f;
    font-size: 17px;
    padding: 12px 30px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 800;
    letter-spacing: .01em;
}

.nav_right_a1 {
    color: #1f1f1f;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: .01em;
}

.nav_right_a {
    margin-right: 40px;
    font-size: 25px;
}

.fa-bag-shopping {
    font-size: 25px;
}

.nav_center_img {
    width: 150px;
    height: auto;
}


.nav_left_a {
    color: #3e693e;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 13px;
    font-weight: 800;
    padding: 12px 30px;
    letter-spacing: .01em;
    border: 2px solid #3e693e;
    border-radius: 13px;
    transition: 0.6s;
}

.nav_left_a:hover {
    border: 2px solid #3e693e;
    background-color: #3e693e ;
    color: white;
}


.pages_list {
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: normal;
    overflow: hidden;
}

.pages_list--open {
    width: 180px;
    min-height: 90px;
    padding: 20px 30px;
    border: 1px solid #3e693e;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}

.pages_list a {
    color: #1a1a1a;
    padding-bottom: 10px;
}


.blog_list {
    position: absolute;
    width: 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
}

.blog_list--open {
    width: 200px;
    min-height: 90px;
    padding: 20px 30px;
    border: 1px solid#3e693e;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}

.blog_list a {
    color: #1a1a1a;
    padding-bottom: 10px;
}

.shop_list {
    position: absolute;
    width: 0;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background-color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;

}

.shop_list--open {
    width: 180px;
    min-height: 70px;
    padding: 20px 30px;
    border: 1px solid #3e693e;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}

.shop_list a {
    color: #1a1a1a;
    padding-bottom: 10px;
}


.nav-fixed {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom: 1px solid #3e693e;
}

.div {
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

.div img {
    width: 100%;
    transform: scale(1.2);
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

.div h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 900;
    letter-spacing: .01em;
    color: #f8f7f2;
    font-size: 65px;
    line-height: 1.15385em;
    position: relative;
    z-index: 2;
    text-align: center;
    height: 100px;

}


.div_first {
    display: block;
}

.div_first_open {
    display: none;
}

.div_second {
    display: block;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

/* Section 1 */

.section1 {
    width: 100%;
    min-height: 100hv;
    display: flex;
    padding-top: 10%;

}

.section1_left {
    width: 50%;
    text-align: center;

}

.section1_right {
    width: 50%;
}


.section1_left img {
    width: 78%;
    border: 1px solid #3e693e;

}

.section1_right h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 900;
    letter-spacing: .01em;
    color: #1a1a1a;
    font-size: 70px;
    min-height: 1.3em;

}

.section1_right h2 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 800;
    letter-spacing: .01em;
    color: #1a1a1a;
    font-size: 36px;
    line-height: 1.59091em;
}

.section1_right h3 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 800;
    letter-spacing: .01em;
    color: #1a1a1a;
    font-size: 25px;
    line-height: 1.59091em;

}

.section1_right p {
    line-height: 1.5rem;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #1a1a1acc;
}

.section1_right_btn {
    font-size: 16px;
    padding: 20px 30px;
    border: 2px solid #3e693e;
    font-family: "Dela Gothic One", sans-serif;
    color: #f8f7f2;
    background-color: #3e693e;
    font-weight: 800;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 5%;
    margin-left: 15%;
    transition: 0.6s;

}

.section1_right_btn:hover {
    background-color: #f8f7f2;
    color: #3e693e;
}

.section1_right span {
    font-size: 25px;
    font-weight: 600;
}

.btn {
    font-size: 35px;
    padding: 10px 20px;
    border: 2px solid #3e693e;
    border-radius: 10px;
    background-color: #3e693e;
    color: #f8f7f2;
    font-weight: 600;
    cursor: pointer;


}

/* Section 2 */
.section2 {
    width: 100%;
    min-height: 300px;
    padding-top: 5%;
}

.section2_top {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.section2_bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.5rem;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #1a1a1ae7;
    font-weight: 400;
    font-family: "Dela Gothic One", sans-serif;
}

.section2_top_a {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 900;
    letter-spacing: .01em;
    color: #1a1a1a;
    font-size: 22px;
    line-height: 1.59091em;
    padding-bottom: 1%;
    cursor: pointer;
}


/* Section 3 */

.section3 {
    width: 100%;
    min-height: 850px;
    text-align: center;

}

.section3_item {
    display: flex;
    text-align: center;
    justify-content: center;
}

.section3 h1 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 900;
    letter-spacing: .01em;
    color: #1a1a1a;
    font-size: 50px;
    line-height: 1.59091em;
    padding-bottom: 4%;
}

.section3_bottom {
    width: 30%;
    min-height: 550px;
    text-align: center;
    border: 1px solid #3e693e;
}

.section3_bottom h3 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 800;
    letter-spacing: .01em;
    color: #1a1a1a;
    font-size: 26px;
    line-height: 1.59091em;
    padding-top: 10px;
    text-align: center;
}

.section3_bottom p {
    line-height: 1.5rem;
    padding-top: 10px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #1a1a1acc;
}

.section3_bottom_a {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 800;
    letter-spacing: .01em;
    color: #1a1a1a;
    font-size: 32px;
    line-height: 1.59091em;
    text-align: center;
    cursor: pointer;
}

.section3 img {
    width: 70%;
    filter: drop-shadow(5px 5px 10px #3e693e);

    
}
.section3 img:hover{
    transform: scale(1.1);
    transition: .3s ease all;

}

/* Footer */

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 500px;
    padding-top: 5%;
    border-top: 1px solid #3e693e;
}

.footer_item h5 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 900;
    letter-spacing: .01em;
    color: #1a1a1a;
    font-size: 26px;
    line-height: 1.59091em;
    padding-bottom: 8%;
}

.footer_item p {
    margin-bottom: 8%;
    line-height: 1.5rem;
    padding-top: 15px;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #1a1a1acc;
}

.footer_item_img {
    width: 60%;
    border-radius: 10px;
}

.iconContainer>i {
    color: #3e693e;
    font-size: 33px;
    margin-left: 5%;
}

.footerContainer {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer_item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.iconContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}



@media only screen and (max-width: 1350px) {

    .start,
    .nav_center_a,
    .nav_left_a,
    .nav_right_a {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {

    .section1,
    .section3_item {
        flex-direction: column;
    }
    .section3_bottom{
        width: 100%;
    }

    .section1_left,
    .section1_right {
        width: 100%;
    }

    .section1_right{
        margin-left: 150px;
    }
}


/* FOOTER*/

@media screen and (max-width: 910px) {
    .footer {

        flex-direction: column;
        min-height: auto;
    }

    .footerContainer {
        width: 100%;
    }
}

@media screen and (max-width: 496px) {

    .footerContainer {
        flex-direction: column;
    }

    .footer_item {
        width: 100%;
    }
}

/* FOOTER*/